<h1>Add a new word</h1>

<form action="/words/new" method="post">
  <div class="form-group">
    <label for="word">Word</label>
    <input id="word" name="word" type="text" class="form-control">
  </div>
  <button type="submit">Add!</button>
</form>