<!DOCTYPE html>
<html>
  <head>
    <title>Words Definer</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href='/css/styles.css'>
  </head>
  <body>
    <div class="container">
    <img src="https://www.bookdesignmadesimple.com/wp-content/uploads/2018/05/book-tree.jpg">
      <%= yield %>
    </div>
  </body>
</html>